*{
    padding: 0px;
    margin: 0px;
    font-family: 20px sans-serif;
}
.container
{
    width: 450px;
    /* height: 400px; */
    margin: 10px auto;
    /* border: 1px solid red; */
    background-color: rgb(9, 113, 204);
}
h1{

    text-align: center;
    margin: 10px;
    color: white;
}

.form2{
     border: 2px solid pink; 
    /* width:200px; */
    margin: 3px 4px;
    padding: 3px 5px;
    /* background-color: blanchedalmond; */
    /* height:100px; */
    color: azure;
    box-sizing: border-box;
    clear: both;
    
}
.lib{
    height: 30px;
    /* border: 1px solid pink; */
    /* font-size: 20px; */
    font-family: sans-serif;
    margin-top: 10px;
}
.txt{
    float: right;
    /* margin: 2px; */
    margin-right: 30px;
    height: 20px;
    border: none;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 1px 5px;    
    outline: none;
    /* font-size: la; */
    padding: 3px;
}

.but{
    border: 1px solid red;
    text-align: right;
    margin-top: 25px;
    outline: none;
    /* margin-bottom: 20px;    */
    
}

#reg
{
    font-size: 20px;
    /* border: 1px solid pink; */
    /* color: greenyellow; */
    /* background-color: blue; */
    width: 100px;
    border-radius: 105px;
    border: none;
    box-shadow: 5px 2px 15px;    
    /* outline: aquamarine; */
    
}
#reg:hover
{
    background-color:rgb(85, 230, 97);
    color: rgb(45, 21, 180);
    outline: none;
}
#back
{   
    font-size: 20px;
    /* border: 1px solid pink; */
    /* color: blue; */
    /* background-color:greenyellow; */
    width: 100px;
    border: none;
    border-radius: 105px;
    box-shadow: 5px 2px 15px;    
    /* outline: none; */
}
#back:hover
{
    background-color:rgb(248, 105, 9);
    color: rgb(168, 24, 204);
    outline: none;
}